.App {
	text-align: center;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
	background-color: #282c34;
}

.App-link {
	color: #61dafb;
}

main {
	flex-grow: 1;
	text-align: center;
	padding-bottom: 60px;
}

footer {
	min-height: 100px;
	display: flex;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	flex-direction: column;
	background: #eeeeee;
	font-size: medium;
	text-align: center;
}

header {
	padding: 25px;
}
